# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.env-localhost
.env-beta.app.halodao.com
.env-dev.beta.app.halodao.com
.env-dev.app.halodao.com
.env-alpha.app.halodao.com
.env-test.app.halodao.com
.env-app.halodao.com
.env-beta.unified

/.netlify

npm-debug.log*
yarn-debug.log*
yarn-error.log*

notes.txt
.idea/

.vscode/

package-lock.json

cypress/videos
cypress/screenshots
cypress/fixtures/example.json
.vercel

.firebase
firebase-debug.log